body{
    background : linear-gradient(to right, rgb(255, 255, 255), rgb(187, 146, 146));

}

/* Blur the listing pizza page and disable navbar and other hero sections when the cart is open */
body.cart-open {
    overflow: hidden;
  }
  
  #root.cart-open .navbar,
  #root.cart-open .hero-section {
    display: none;
  }

.Cart{
    overflow: auto;
}

.heading-title{
  
  Background : linear-gradient(to right, rgb(213, 95, 32), rgb(255, 208, 0));
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
  
  
}




#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./Components/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}



::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(182, 122, 122);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}


/* Large screens */


/* For screen sizes up to 640px (mobile devices) */
@media only screen and (max-width: 640px) {
  .pizza-size {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .pizza-size input[type="radio"] {
    margin-right: 0.5rem;
  }

  .pizza-toppings {
    margin-left: 0;
    margin-right: 0;
  }

  .pizza-toppings input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  .pizza-toppings label {
    margin-right: 1rem;
  }

  .pizza-toppings .mb-2 {
    margin-bottom: 1rem;
  }

  .pizza-toppings .text-center {
    text-align: center;
  }

  .pizza-toppings .sm:w-10 {
    width: 100%;
  }

  .pizza-toppings .sm:ml-5 {
    margin-left: 0;
  }
}

/* For screen sizes between 640px and 768px (small tablets) */
@media only screen and (min-width: 640px) and (max-width: 768px) {
  .pizza-toppings .sm:w-10 {
    width: calc(50% - 1rem);
  }

  .pizza-toppings .sm:ml-5 {
    margin-left: 1rem;
  }
}

/* For screen sizes greater than 768px (desktops and larger tablets) */
@media only screen and (min-width: 768px) {
  .pizza-size {
    margin-left: 20%;
    margin-right: 0;
  }

  .pizza-toppings {
    margin-left: 36%;
    margin-right: 24px;
  }

  .pizza-toppings .sm:w-10 {
    width: calc(33.33% - 1rem);
  }

  .pizza-toppings .sm:ml-5 {
    margin-left: 0;
  }
}
